* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #000000;
  overflow-x: hidden;
}

/* Header */
header {
  background-color: #000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

header .hContent {
  text-transform: uppercase;
  margin-left: 10%;
}

.RText {
  color: #ff0015;
  font-size: 1rem;
  text-decoration: none;
}

/* Container for the layout */
.container {
  max-width: 100vw;
  margin: 0 auto;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: flex-start;
  position: relative;
  text-align: center;
  background-color: #ffffff;
  text-transform: uppercase;
}

/* Logo container */
.logo {
  position: relative;
}

/* Positioning for nav-links */
.nav-links {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1%;
}

/* Search input field */
.search-input {
  display: none; /* Initially hidden */
  position: absolute;
  padding: 1% 4%;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: width 0.3s ease;
  width: 0;
  margin-top: 1%;
}

/* Show the search input when the search icon is clicked */
.search-icon:focus + .search-input {
  display: inline;
  width: 20vw;
  left: 70vw;
}

/* Style for the search icon */
.search-icon {
  font-size: 20px;
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
  margin-right: 10px;
}

/* Expanding search input on focus */
.navbar:focus-within .search-input {
  display: block;
  width: 200px;
}

/* Style for the login and cart links */
.nav-links a {
  color: #000000;
  text-decoration: none;
  font-size: 1vw;
}

.nav-links a:hover {
  color: #e63946; /* Optional: Hover effect */
}

/* Style for navbar links and dropdowns */
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
}

nav li {
  position: relative;
  width: 12.5vw;
}

nav a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  color: #000000;
  border: none;
  min-width: 13vw;
  font-size: 1.1vw;
}

nav a:hover {
  background-color: #dedede;
}

/* Dropdown styles */

nav .dropdown > a::after {
  content: "V";
  font-size: 0.9vw;
  font-weight: bolder;
  color: #000;
  margin-left: 1.8%;
  margin-bottom: 0;
  margin-top: 0;
}

.dropdown-content {
  display: none; /* Hide dropdown content by default */
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 10vw;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li a {
  padding: 10px 20px;
  color: #000000;
  background-color: #ffffff;
}

.dropdown-content li a:hover {
  background-color: #675052;
  color: white;
}

/* Banner */
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner {
  position: relative;
  text-align: center;
  height: 65vh;
  width: 100vw;
}

.banner-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.banner-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 20%;
  right: 60%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: left;
  width: 25vw;
  height: 25vh;
}

.banner-content h1 {
  font-size: 3vw;
}

.banner-content p {
  font-size: 1.4vw;
  margin: 10px 0;
}

.cta-button {
  padding: 4% 5%;
  text-align: center;
  background-color: #e63946;
  color: #fff;
  font-size: 1.4vw;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 2%;
}

/* Banner Form */
.banner-form {
  position: relative;
  transform: translate(120%, -110%);
  background-color: rgba(255, 255, 255);
  padding-top: 1vh;
  border-radius: 4%;
  width: 40vw;
  height: 55vh;
  text-align: center;
}
.banner-logo img {
  width: 10vw;
  height: 6vh;
  object-fit: contain;
}

.banner-tagline p,
a {
  margin: 1%;
  padding: 1%;
  font-size: 1vw;
}

.banner-form h3 {
  font-size: 2vw;
}

.banner-form input,
.banner-form button {
  width: 80%;
  padding: 0.8vw;
  margin-bottom: 2vh;
  border-radius: 0.3vw;
  background-color: #dddddd;
  border: 1px solid #ccc;
  font-size: 1.3vh;
}

.banner-form button {
  background-color: #000000;
  color: white;
  font-size: 1.4vw;
  cursor: pointer;
}

/* video */
.video-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* margin-top: 5%; */
}

/* Video */
video {
  position: relative;
  bottom: 45vh;
  width: 60vw;
  height: 60vh;
  object-fit: cover;
  border-radius: 5%;
  z-index: -1;
}

.video-overlay {
  position: relative;
  top: 15vh;
  left: 20%;
  width: 60vw;
  height: 60vh;
  border-radius: 5%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.text-overlay,
.video-controls {
  position: relative;
  transform: translateY(-80vh);
  z-index: 2;
}

/* Overlay text */
.text-overlay {
  text-align: center;
  position: relative;
}

.text-overlay .RText {
  font-size: 1.5vw;
  color: #ff0000;
  text-transform: uppercase;
}

.text-overlay h2 {
  font-size: 2vw;
  color: #dfdfdf;
  font-weight: 100;
  margin: 10px 0;
}

/* Play/Pause Button */
.video-controls {
  text-align: center;
  z-index: 2;
}

.video-controls button {
  padding: 10px 20px;
  font-size: 2vw;
  border: none;
  border-radius: 5px;
  background-color: #e63946;
  color: white;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
}

.video-controls button:hover {
  background-color: #d32f2f;
}

/* Lorem */
p.Lorem {
  position: relative;
  top: -30vh;
  display: flex;
  text-align: center;
  font-size: 1.5vw;
  margin-left: 20vw;
  padding: 1%;
  color: #333;
  width: 60vw;
}

/* Services */
.services {
  text-align: center;
}

.services h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(15vw, 1fr)
  ); /* Smaller column minimum */
  gap: 2vw;
  max-width: 85vw;
  max-height: 30vh;
  margin: 0 auto;
  padding: 0 2%;
}

.service {
  position: relative;
  overflow: hidden;
  text-align: left;
  transition: transform 0.3s ease;
  width: auto;
}

.service hr {
  position: absolute;
  left: 6%;
  bottom: 70%;
  border: 0;
  height: 0.7vh;
  width: 4vw;
  margin-bottom: 2vh;
  background-color: #ff0000;
  opacity: 0;
}

.service:hover hr {
  opacity: 1;
  /* z-index: 1; */
  transition-delay: 0.2s;
}

.service:hover {
  transform: scale(1.05);
}

.service img {
  width: 100%;
  height: 30vh;
}

.service h3,
.service p {
  position: absolute;
  color: white;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.service h3 {
  position: absolute;
  top: 41%;
  left: 38%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  text-transform: uppercase;
}

.service p {
  position: absolute;
  bottom: 35%;
  left: 8%;
  font-size: 0.7rem;
}

.service:hover h3,
.service:hover p {
  opacity: 1;
  z-index: 2;
  transition-delay: 0.2s;
}

.service:hover img {
  filter: brightness(80%);
}

.service button {
  opacity: 0;
  padding: 3%;
  position: relative;
  left: 8%;
  top: -20%;
  border: none;
  background-color: white;
  color: black;
  font-weight: bold;
}

.service button:hover {
  background-color: rgb(255, 0, 0);
  color: white;
}

.service:hover button {
  opacity: 1;
  z-index: 2;
  transition-delay: 0.2s;
}

/* Reviews */
.reviews {
  position: relative;
  margin-top: 20vh;
  text-align: center;
  padding: 4% 2%;
  background: none;
  width: 100%;
  height: 100%;
}

.reviews h2 {
  font-size: 2vw;
  margin-bottom: 10vh;
  color: #000000;
  text-transform: uppercase;
}

/* Carousel Container */
.carousel-container {
  position: relative;
  width: 95vw;
  height: 100%;
}

/* Carousel itself */
.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Each review */
.review {
  flex: 1;
  position: relative;
  padding: 2vw;
  border: none;
  text-align: center;
  margin: 10px;
}

.review-rating {
  margin-top: 3vh;
  color: rgb(255, 204, 0);
}

.review-text {
  margin: 10% 15% 0 15%;
  font-size: 1.1vw;
  font-style: italic;
  color: #555;
  text-align: center;
}

.review-author {
  margin-top: 5%;
  font-size: 1.4vw;
  font-weight: bold;
  color: #333;
}

/* Navigation Arrows */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  background: none;
  color: rgb(0, 0, 0);
  font-size: 2.5vw;
  border: none;
  padding: 3%;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* Styling for hover effect on arrows */
.prev:hover,
.next:hover {
  background-color: rgba(183, 183, 183, 0.6);
}

/* Scroll animation for carousel
.carousel-container:focus-within .carousel {
  animation: scroll 15s infinite linear;
} */

/* @keyframes scroll {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
} */


/* newsletter */
.newsletter {
  background-color: #f1f1f1;
  text-align: center;
  font-weight: 100;
  height: 300px;
  margin-bottom: -3%;
}

.newsletter h2 {
  font-weight: 500;
  padding: 20px;
}

.newsletter p.txt-newsletter {
  position: relative;
  justify-content: center;
  color: #3f3f3f;
  padding: 1%;
}

.newsletter .subscription {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  left: 32%;
}

.newsletter input {
  width: 25vw;
  height: 4vh;
  font-size: 0.95rem;
  text-align:left;
  padding-left: 1%;
}

.newsletter button {
  position: relative;
  padding: 1%;
  height: 4vh;
  width: 10vw;
  color: white;
  background-color: #000;
}

.newsletter button:hover{
  border: none;
  transform:scale(1.1);
}

.newsletter .subscribe {
  position: relative;
  bottom: 0.5vh;
  font-size: 1.1vw;
  text-transform: uppercase;
}


/* footer */
footer {
  background-color: #000;
  color: #fff;
  padding: 5% 6%;
  display: flex;
  justify-content: flex-start; /* Align content to the right */
  align-items: center;
  height: 35vh;
  width: 100vw;
  gap: 5%;
}

.footer-logo img {
  filter: invert(1);
  width: 15vw;
  height: 8vh;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

/* Footer List */
.footer-ul {
  list-style: none;
  margin-top: 4%;
}

/* Footer List Items */
.footer-ul li {
  margin-bottom: 5%;
  padding: 0.5vw;
}

/* Footer Links */
.footer-ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1vw;
  transition: color 0.3s ease;
}

.footer-ul li a:hover {
  color: #e63946;
}

.footer-ul li a.RText {
  font-weight: bold;
  font-size: 1.1vw;
  color: red;
}
